body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 30px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  background-color: rgb(206, 241, 199);
  padding: 3%;
  margin: 2%;
  border-radius: 25px;
  width: 40%;
  height: 40%;
  flex-wrap: wrap;
  
}

.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.name {
  font-size: 30px;
  padding: 1%;
  font-weight: bold;
  
}

.addy {
  padding-left: 10%;
}