body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000033;
  display:flex;
}



h2 {
  font-size: 35px;
  background-color: #FAFAD2;
  padding:10px;
  
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  background-color: #FAFAD2;
  padding: 3%;
  margin: 2%;
  border-radius: 25px;
  width: 20%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
}

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name {
  font-size: 30px;
  padding: 1%;
  font-weight: bold;
  
}

.enterspell {
  font-size: 28px;
  background-color: #FAFAD2;
  padding:1%;
  border-radius: 25px;
}

.gif {
  width:65%;
  height:1.8%;
  margin: 35px;
  }

  #dropdown {
    font-size: 25px;
    font-style: oblique;
  }